<h1 class="tittle-register">
    Registro De Usuarios
</h1>

<section class="inputs" >

    <div class="inputsFullName">

        <input class="input-name" type="text" placeholder="Nombre(s)">

        <input class="input-lastname" type="text" placeholder="Primer Apellido">

        <input class="input-second-lastname" type="text" placeholder="Segundo Apellido">

    </div>
    

    <div class="inputs-email">

        <input class="input-mail" type="email" placeholder="Correo Electronico">

        <input class="input-password" type="password" placeholder="Contraseña">

        <input class="input-password-verification" type="password" placeholder="Reescriba su contraseña">

    </div>
    
    <div class="buttons-register">

        <button class="btn-register">
            Registrar
        </button>

        <button class="btn-cancel">
            Cancelar
        </button>

    </div>

</section>




